<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IP_WEB_SERVICE" value="https://192.168.0.203:5559/"/>
		<!--<add key="IP_WEB_SERVICE" value="https://192.168.0.203:9099/"/>-->
		<add key="TIMEOUT_WEB_SERVICE" value="35" />
		<add key="TIMEOUT_WEB_SERVICE_HEAVY_TASK" value="600" />
		<add key="REGISTERS_INTERVAL_TIME_MINUTES" value="30" />
	</appSettings>
</configuration>